@font-face {
	font-family: "Roboto-Light";
	src: url("/public/assets/fonts/RobotoLight.ttf");
}

@font-face {
	font-family: "Roboto-Regular";
	src: url("/public/assets/fonts/RobotoRegular.ttf");
}

@font-face {
	font-family: "Roboto-Bold";
	src: url("/public/assets/fonts/RobotoBold.ttf");
}