.header {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 260px;
	background-color: #111418;
	color: #ffffff;

	@media(max-width: 1200px) {
		height: 80px;
		width: 100%;
		z-index: 22;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;

	@media(max-width: 1200px) {
		flex-direction: row;
	}

	position: relative;
}

.top_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px 0;
	padding-top: 30px;

	@media(max-width: 1200px) {
		padding: 30px 0 30px 10px;
	}
}

.photo {
	width: 150px;
	height: 170px;
	border-radius: 50%;
	border: 5px solid #343a40;

	@media(max-width: 1200px) {
		display: none;
	}
}

.name {
	font-size: 24px;

	@media(max-width: 500px) {
		font-size: 18px;
	}
}

.menu_list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 25px 0;
	font-size: 20px;

	@media(max-width: 1200px) {
		display: none;
	}
}

.menu_list_active {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 25px 0;
	font-size: 20px;

	@media(max-width: 1200px) {
		align-items: flex-start;
		z-index: 2;
		gap: 10px 0;

		position: absolute;
		top: 80px;
		left: 0;

		background-color: #111418;
		width: 100%;
		padding-bottom: 20px;
	}
}

.nav_item {
	@media(max-width: 1200px) {
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		padding-bottom: 15px;
		padding-left: 15px;
		width: 100%;

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}
}

.link {
	&:hover {
		color: var(--main-color);
	}
}

.link_active {
	color: var(--main-color);
}

.social_list {
	display: flex;
	align-items: center;
	gap: 0 20px;
	padding-bottom: 20px;

	@media(max-width: 1200px) {
		padding-bottom: 0;
	}

	@media(max-width: 500px) {
		gap: 0 6px;
	}
}

.social_item {
	position: relative;
	width: 25px;
	height: 25px;

	path {
		fill: #ffffff;
	}

	&:hover {
		path {
			fill: var(--main-color);
		}
	}
}

.github {
	path {
		fill: #000000;
	}
}

.menu_btn {
	display: none;
	width: 30px;
	height: 25px;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;

	span {
		height: 1px;
		width: 40px;
		background-color: #f8ffff;
		transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	&:hover {
		span:nth-of-type(1) {
			width: 33px;
		}

		span:nth-of-type(2) {
			width: 40px;
		}

		span:nth-of-type(3) {
			width: 30px;
		}

	}

	@media(max-width: 1200px) {
		display: flex;
	}
}

.menu_btn_active {
	span:nth-of-type(1) {
		transform: rotate(45deg) translate(10px, 10px);
		width: 40px;
	}

	span:nth-of-type(2) {
		opacity: 0;
		pointer-events: none;
	}

	span:nth-of-type(3) {
		transform: rotate(-45deg) translate(7px, -7px);
		width: 40px;
	}
}

.menu_nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	padding-top: 150px;

	@media(max-width: 1200px) {
		align-items: center;
		flex-direction: row;
		gap: 0 20px;
		padding-right: 20px;
		padding-top: 0;
	}
}