.app.dark {
	//bg
	--bg-color: #111418;
	--bg-section-one: #212529;
	--bg-section-two: #343a40;

	//text
	--text-color: #ffffff;
	--main-color: #28a745;

	//resume
	--bg-progressbar: #111418;
	--bg-exp: #111418;
	--br-color-exp: #111418;
	--color-work-place: #28a745;

	//des
	--color-title-desc: #2c3135;

	//arrow
	--bg_arrow: #2a2e33;
}