:root {
	//bg
	--bg-color: #f8ffff;
	--bg-section-one: #ffffff;
	--bg-section-two: #f8f9fa;
	--bg-color-invers: #111418;

	//text
	--text-color: #212529;
	--main-color: #28a745;

	//header
	--br-color-photo: #dbc9ae;

	//resume
	--bg-progressbar: #e9ecef;
	--bg-exp: #ffffff;
	--br-color-exp: #dee2e6;
	--color-work-place: #dc354b;

	//des
	--color-title-desc: #f2f4f4;

	//arrow
	--bg_arrow: #c6c7c8;
}